[alias]
	dft = difftool
	dlog = "-c diff.external=difft log -p --ext-diff"
[branch]
	sort = -committerdate   # sort branches by most recent commit
[column]
	ui = auto   # leverage the full terminal like ls does
[commit]
	verbose = true  # show change details when committing
[core]
	pager = delta   # see https://github.com/dandavison/delta
	editor = nvim   # I happen to like my NeoVim setup/configs
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
	colorMoved = default    # give lines that were moved, but otherwise unchanged, a different color
	algorithm = histogram   # favor human readable diffs over smaller sizes
	submodule = log         # more submodule information when diffing
	tool = difftastic       # see https://difftastic.wilfred.me.uk/
	mnemonicPrefix = true   # use something more descriptive than a/ and b/
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[fetch]
	prune = true        # automatically delete local branches if the remote deleted them
	prunetags = true    # automatically delete local tags if the remote deleted them
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autocorrect = prompt    # help me with my typos
[init]
	defaultBranch = trunk   # if we have branches, then a trunk is the core
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3  # make merge conflicts contain more info about what changed
	tool = vimdiff          # I happen to like my NeoVim setup/configs
	keepbackup = false      # no .orig file since that's already tracked
[mergetool]
	prompt = true   # Git doesn't seem to wait for NeoVim, so block with a prompt
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c 'wincmd W' -c 'wincmd J'
[pull]
	rebase = true   # order local-only commits after new remote commits
[push]
	autosetupremote = true  # for new branches setup remote tracking branch automatically
	followtags = true       # push tags when pushing commits
[rebase]
	autoSquash = true   # certain commit title prefixes automatically squash when rebasing
	autoStash = true    # don't make me call git stash and git stash pop manually
	updateRefs = true   # don't punish me for not using origin/branch-name
[rerere]
	enabled = true      # see https://git-scm.com/book/en/v2/Git-Tools-Rerere
	autoupdate = true
[status]
	submoduleSummary = true # more submodule information during status
[submodule]
	recurse = true  # automatically recurse submodules for most commands (not clone, ls-files, or branch)
[tag]
	sort = version:refname  # tags are typically versions
